.card-002{
    background-image: url(../assets/Hero/graph_shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #12122b;
}
.card-004{
    background-image: url(../assets/Hero/graph_shape_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphics-111::before{
    content: "";
    position: absolute;
    right: 0;
    top: 1;
    transform: translateX(2%);
    border: 1px solid gray;
    border-radius: 15px;
    height: 80%;
    width: 90%;
}
@media only screen and (min-width: 0) and (max-width: 400px){
    .graphics-111::before{
        height: 230px;
    }
}
.hero_star{
    z-index: -10;
}
.plans_button:hover .plans_effect{
    scale: 1;
}
.effect_brand{
    position: relative;
}
.effect_brand::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: all 300ms ease;
    background-color: #ff7a33;
    z-index: -10;
}
.effect_brand:hover::after{
    height: 100%;
}
.loader{
    border: 5px solid #ff7a33;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    animation: loading 1s ease  infinite ;
}
@keyframes loading {
    0%{
        scale: 0;
        opacity: 1;
    }
    100%{
        scale: 1;
    }
}
.underline_style{
    position: relative;
}
.underline_style::before {
    content: "";
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 700ms ease;
}

.underline_style:hover::before {
    transform: scaleX(1);
}
.underline_style::after {
    content: "";
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 700ms ease;
}

.underline_style:hover::after {
    transform: scaleX(1);
}
.job_card{
    position: relative;
    overflow: hidden;
}
.job_card::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15152E;
    border:2px solid #3C3C77;
    transition: transform 700ms ease;
    transform-origin: bottom;
    transform: scaleY(0);
    border-radius: 6px;
    z-index: -1;
}
.job_card:hover::after{
    transform: scaleX(1);
    transform-origin: top;
}
.bg-LS{
    background-image: url(../assets/Login/data-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.shiny_load {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    #2b2b2b 25%,
    #3a3a3a 37%,
    #2b2b2b 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

